@use "variables" as v;

$suffixes: (
	t: top,
	b: bottom,
	r: right,
	l: left,
);

@for $i from 0 through 12 {
    .m-#{$i} {
        margin: $i * v.$base-spacing;
    }
    .p-#{$i} {
        padding: $i * v.$base-spacing;
    }
    @each $suffix, $value in $suffixes {
        .m#{$suffix}-#{$i} {
            margin-#{$value}: $i * v.$base-spacing;
        }
        .p#{$suffix}-#{$i} {
            padding-#{$value}: $i * v.$base-spacing;
        }
    }
}
